.redflag {

    font-size: 150px;
    margin-top: 15%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #ff1515;
}
.subtext {
    text-align: center;
    margin-top: 1%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -60px;
    letter-spacing: 7px;
    color: #ffffff;
}
footer {

margin-top: 30%;

color: white;
font-family: monospace;
font-size: 20px;

}
div {
    background-color: #ff0000;
   
   
}
li {
    margin-top: 20px;
}
.start {
    margin-left: 40%;
    margin-right: auto;
    
}

a {
    text-decoration: none;
    color: white;
}
body {
    background-color: rgb(43, 43, 43);
}
